:root {
    --color-red: #fa5252; 
    --color-orange: #fd7e14; 
    --color-yellow: #fcc419; 
    --color-green: #40c057; 
    --color-blue: #339af0; 
    --color-indigo: #5c7cfa; 
    --color-violet: #7950f2; 
    --color-dark-grey: #777;
    --color-black: #000;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --line: 1px solid var(--color-grey-light-2);
}