.ScssComponent {
    display: flex;
    .box { 
        background: red;
        cursor: pointer;
        transition: background  ease-in;
        @include media("<768px") {
            background: var(--color-red);
        }
        &.red {
            background: var(--color-red);
            @include square(1);
        }     
        &.orange {
            background: var(--color-orange);
            @include square(2);
        }     
        &.yellow {
            background: var(--color-yellow);
            @include square(3);
        }     
        &.green {
            background: var(--color-green);
            @include square(4);
        }     
        &.blue {
            background: var(--color-blue);
            @include square(5);
        }     
        &.indigo {
            background: var(--color-indigo);
            @include square(6);
        }     
        &.violet {
            background: var(--color-violet);
            @include square(7);
        }     
    }   
}